@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(./assets/Roboto/Roboto-Black.ttf);
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --color-border: #e8e8e8;
  --color-success: #11ab64;
  --bg-light: #f3f2f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7d7f81;
}

a {
  font-weight: normal;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}