/* @font-face {
  font-family: Poppins;
  
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins-Bold.ttf);
}
 */

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1f1e1ede;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-border: #e8e8e8;
  --color-success: #11ab64;
  --bg-light: #f3f2f0;
  --color-primary: #4f84f8;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  color: #535bf2;
}